.mark{
    width: 100%;
    height: 100%;
    dbackground: rgba(0,0,0,0.7);
}
.pop{
    width: 500px;
    border: solid 1px #A4BED4;
    box-shadow: 0 0 3px #cecece;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -250px;
    background: #fff;
    border-radius: 4px;
}
.pop .pop_head{
    width: 100%;
    height: 40px;
    line-height:20px;
    background: linear-gradient(#e5f0fd,#d3e6fe);
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    position: relative;
}
.pop .pop_head i{
    width: 16px;
    height: 16px;
    background: url("../css/img/ico.gif") no-repeat -14px 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.pop .pop_head i:active{
    top: 11px;
    right: 9px;
}
.pop_body{
    border: solid 5px #d3e6fe;
    border-top: 0px;
    border-bottom: 0px;
}
.pop_foot{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #F5F5F5;
    border-radius: 0 0 4px 4px;
    border: solid 5px #d3e6fe;
    border-top: 0px;
}
.pop_foot a{
    width: 80px;
    height: 26px;
    margin-right: 10px;
    display: inline-block;
}
.pop_foot a:first-child{
    background: url("../css/img/aaa.png") no-repeat;
}
.pop_foot a:last-child{
    background: url("../css/img/bb.png") no-repeat;
}
.pop_body h4{
    height: 39px;
    border-bottom: solid 1px #C1CDDD;
    color: #5A7CAF;
    ddbackground: linear-gradient(#DDE9F9 0 , #fff 100%);
}
.pop_body .span_title{
    width: 50px;
    margin-right: 10px;
}
.pop_body .ipt_min{
    width: 30px;
}
.pop_body .ipt_50{
     width: 50px;
 }
.pop_body .ipt_100{
    width: 100px;
}
.pop_body .span_line{
    width: 30px;
    height: 10px;
    position: relative;
}
.pop_body .span_line:after{
    content: "";
    width: 10px;
    height: 1px;
    border-bottom: solid 1px #ddd;
    position: absolute;
    top: 6px;
    left: 10px;
}
.pop_body .span_pr{
    position: relative;
    top: -57px;
}